body {
    font-family: 'Fira Code', monospace;
    background-color: #1c1228;
    color: #f4bf75;
    margin: 0;
}

p, a {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-size: 1em;
}

a {
    color: #f4bf75;
    text-decoration: dotted underline;
}

main {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
}

.layout-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;   
  padding: 40px 20px;
  box-sizing: border-box;
}
